.cardImg {
  /* max-width: 100vw;
  max-height: 100vw; */
}
.all {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  width: 100%;
  max-width: 100vw;
}
.details {
  /* width: 100%; */
}
.card-img-top {
  /* width: 100%;
  height: 15vw; */
  object-fit: cover;
}
