/* .images{
    width: 100%;
    max-width: 100vw;
}
.max{
    max-width: 100vw;
    background-color: rgb(225, 215, 215);
    max-height: 100vw;
}
*/
.allBtn {
  background-color: rgba(49, 50, 48, 0.671);
  color: white;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.clas {
  height: 36px;
  font-size: 14px;
  border-radius: 7px;
}
